<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!--<title> Responsive Sidebar Menu  | CodingLab </title>-->
    <link rel="stylesheet" href="AdminHome.css">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="sidebar">
    <div class="logo-details">
      <i class='bx bxs-user-pin icon'></i>
        <div class="logo_name">Admin</div>
        <i class='bx bx-menu' id="btn" ></i>
    </div>
    <ul class="nav-list">
      <li>
          <i class='bx bx-search' ></i>
         <input type="text" placeholder="Search...">
         <span class="tooltip">Search</span>
      </li>
      <li>
        <a href="/admin/new-user">
          <i class='bx bx-grid-alt'></i>
          <span class="links_name">Add User</span>
        </a>
         <span class="tooltip">Add user</span>
      </li>
      <li>
       <a href="/admin/dashboard">
         <i class='bx bx-user' ></i>
         <span class="links_name">Users</span>
       </a>
       <span class="tooltip">Users</span>
     </li>
     <li>
       <a href="#">
         <i class='bx bx-chat' ></i>
         <span class="links_name">Messages</span>
       </a>
       <span class="tooltip">Messages</span>
     </li>
     <li>
       <a href="#">
         <i class='bx bx-pie-chart-alt-2' ></i>
         <span class="links_name">Analytics</span>
       </a>
       <span class="tooltip">Analytics</span>
     </li>
     
     <li>
       <a href="#">
         <i class='bx bx-cart-alt' ></i>
         <span class="links_name">Order</span>
       </a>
       <span class="tooltip">Order</span>
     </li>
     <li>
       <a href="#">
         <i class='bx bx-heart' ></i>
         <span class="links_name">Saved</span>
       </a>
       <span class="tooltip">Saved</span>
     </li>
     <li>
       <a href="#">
         <i class='bx bx-cog' ></i>
         <span class="links_name">Setting</span>
       </a>
       <span class="tooltip">Setting</span>
     </li>
     <li class="profile">
         <div class="profile-details">
           <!--<img src="profile.jpg" alt="profileImg">-->
           <img src=" <%= admin.image %>" width="100px"  alt="<%= admin.image %>">
           <div class="name_job">
             <div class="name"><%= admin.name %></div>
             <div class="job">Web designer</div>
           </div>
         </div>
         <a href="/admin/logout"><i class='bx bx-log-out' id="log_out" ></i></a>
     </li>
    </ul>
  </div>
  <section class="home-section">
      <div class="text">Dashboard</div>
  </section>


  <!--- 
     <h1>welcome , <%= admin.name %></h1>

    <br>

    <a href="/admin/dashboard">dashboard</a>
    <br>

    <table>
        <tr>
            <td >
                <img src=" <%= admin.image %>" width="100px"  alt="<%= admin.image %>">
            </td>
           
        </tr>
        <tr>
            <td>email</td>
            <td><%= admin.email %></td>
        </tr>
        <tr>
            <td>Mobile</td>
            <td><%= admin.mobile %></td>
        </tr>
    </table>

    <a href="/admin/logout">logout</a>
-->





 <script src="AdminHome.js"></script>
</body>
</html>
